* {
    box-sizing: border-box;
}

body {
    background-image: url(images/background.jpg);
}

div {
    width: 1000px;
}

header {
    text-align: center;
    color: white;
    font-size: 60px;
    background-color:  rgb(247, 213, 173);
}

h1{
    margin:20px;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
    margin:10px;
}

h3 {
    text-align: right;
    padding-right: 30px;
    font-size: 25px;
}

nav {
     text-align: center;
     background-color:  rgb(247, 213, 173);
}

a{
    font-size: 35pt;
    padding:20px;
    color:black;
    text-decoration: none;
    font-family: 'Nanum Pen Script', cursive;
}

ul a{
    font-size: 15pt;
    color:rgba(68, 65, 62, 0.781);
}

li{
    font-size:20pt;
}

#shows li{
    font-size:20pt;
    padding:10px;
}

#shows a {
    border: 2px solid black;
    padding:5px;
    background-color: bisque;
}

#shows li:nth-child(even){
    list-style: none;
}

nav div{   
    display: inline-block;
    width: 60px;
    background-color: rgb(247, 213, 173);
    font-family: 'Nanum Pen Script', cursive;
}

.news{
    margin:20px;
}

.section {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px 2px burlywood;
    padding-top:0px;
    background-color:burlywood;
    position: relative;
}

#grid{
    width:1000px;
    background-color:burlywood;
}       

#image {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
} 

img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.member{
    width:150px;
    margin-left:40px;
    padding-top: 30px;
    margin-bottom:33px;
    transition: transform 1s;
}

.member:hover{
    transform: scale(1.5);
}

.pic:hover{
    transform: scale(1.5);
    transition-duration: 1s;
    border-radius: 5%;
}

.grid{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.pic{
    width:200px;
    height:175px;
    padding:0;
    margin-left:25px;
    margin-right: 20px;
    border: 1px solid bisque;
    transition: transform 1s;
}

.media{
    width:50px;
    height:auto;
}

b{
    font-size: 20pt;
}

.about{
    display:inline;
    font-size: 16pt;
    font-family: 'Nanum Pen Script', cursive;
}

.tourtext{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 15pt;
    padding:5px;
    background-color: burlywood;
    height:525px;
    position: relative;
    border: 2px solid burlywood;
}

.text{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 15pt;
    padding:5px;
    background-color: burlywood;
    height:525px;
    position: relative;
    border: 2px solid burlywood;
}

.indextext{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 16pt;
    padding:5px;
    background-color: rgb(236, 192, 134);
    height:550px;
    position: relative;
}


.musictext{
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 15pt;
    padding:5px;
    background-color: burlywood;
    height:510px;
    position: relative;
}

.abouttext{
    width:1000px;
    font-family: 'Nanum Pen Script', cursive;
    padding:5px;
    padding-left:10px;
    margin-top:15px;
    margin-left:4px;
    margin-bottom:15px;
    background-color: rgb(236, 192, 134);
    border: 1px solid bisque;
    height:250px;
    position: relative;
    border-radius: 10%;
}

.abouttext p:nth-child(6){
    font-size:14pt;
}
.abouttext p:last-child{
    font-size:18pt;
    text-align: center;
}
.abouttext a{
    font-size: 18pt;
    color:rgb(192, 117, 19);
    padding:0;
    font-weight: bold;
}

#signature{
    font-size: 25pt;
}
 
#album3 img{
    border: 2px solid bisque;
}

#right{
    width:450px;
    transform: translate(115%, -95%);
    position: relative;
}

#right img{
    border: 2px solid bisque;
}

#banner{
    width:990px;    
}

form{
    width:350px;
    height:200px;
    background-color: rgb(224, 167, 93);
    border-radius: 7%;
    padding:15px;
    text-align: right;
    font-family: sans-serif;
    font-size: 12pt;
    margin:40px;
    margin-right:20px;
    float:right;
    position: relative;
    border: 2px solid bisque;
    transform: translate(0%,-35%, 15%)
}

input:not(:last-child){
    width:200px;
}

input:focus{
    outline:none;
    border-color: rgb(105, 159, 230);
    box-shadow: 0 0 20px rgb(105, 159, 230);
    border:none;
}

label{
    display:block;
    padding:3px;
}

#submit{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(43, 43, 49);
    color:white;
    border: none;
}

#player{
    padding-top:10px;
    position: relative;
    padding-left: 10px;
    transform: translate(45%, -95%);
}
    
#player2{
    padding-top:10px;
    padding-bottom:20px;
    position: relative;
}


#album2{
    font-size: 20pt;
    padding-left: 50px;
}

#album3{
    width:400px;
    margin-left: 20px;
       
}

.footer{
    display:flex;
    justify-content: center;
    padding-top: 10px;
    width:1000px;
    background-color: rgb(247, 213, 173);
}

@media (max-width: 600px) {

body{
    width:500px;
    margin-left: auto;
    margin-right: auto;
}
a{
    font-size:20pt;
    padding:10px;
}
#image{
    width:500px;
}
.media{
    width:30px;
    padding:2px;
}
img{
    width:500px;
}
.section{
    width:500px;
    height:auto;
}
form{
    width:330px;
    margin-right:0;
    margin:0;
    right:70px;
    top:170px;
    position: relative;
}
#newstext{
position: absolute;
width:500px;
}
#newstext li{
    display:none;
}
#newstext p:nth-child(odd){
    display:none;
}
.news{
    margin:0;
    padding:5px;
}
h1{
    font-size: 18pt;
}
#grid{
    visibility: hidden;
    height:0;
    width:500px;
}
.pic{
    visibility: hidden; 
    height:0;
}
#right{
    display:none;
    width:500px;
}

#banner{
    visibility: hidden;
    width:500px;
}
#album3 img{
    width:300px;
    margin-left: 60px;
}
.text{
    width:500px;
    height:400px;
}
.tourtext{
    width:500px;
    height:400px;
}
.musictext{
    width:500px;
    height:850px;
}
.abouttext{
    width:500px;
    height:auto;
    text-align: center;
}
#player{
    transform: translate(3%, 0%);
    width:500px;
}

#player2{
    width:500px;
}
#shows{
    text-align: center;
}

#shows li{
    font-size:20pt;
    padding:5px;
}

.indextext{
    width:500px;
    height:auto;
    font-size: 13pt;
    padding:10px;
}

.indextext p:nth-child(odd){
display: none;
}
.member{
    width:200px;
    display:block;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}
.member:hover{
    transform: none;
}

.footer{
    width:500px;
    transform: translate(0%, 0%);
}

.footer img{
    width:40px;
}


} 

    

